<strong>Olá, {{ deliveryman }}!</strong>

<p>Você tem uma nova entrega</p>

<p>
    <strong>Cliente: </strong> {{ recipient }} <br>
    <strong>Data: </strong> {{ product }} <br>
    <strong>Entrega: </strong> {{ date }} <br>
    <strong>Endereço: </strong> {{ address }}, Num: {{number}}, Complemento: {{complement}} <br>
    <strong>{{city}} - {{state}}, CEP: {{zip_code}}</strong>
    <br>
    <small>
        Entre em contato, caso tenha dúvidas.
    </small>

</p>